body{
    background-image: url(/img/background.jpg);
    width: 1600px;
    height: 541px;
    background-position-x: 50%;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    color:white;
}

#order, #order_options_div, #order_list_div {
    text-align: center;
}
#order{
    border: black dotted 5px;
    width :500px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 50px;
}
#logo{
    margin-left: 10%;
}
body .rt-bg2 {
    background-repeat: no-repeat;
    background-position: 50% 0;
}