<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="style.css">
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script>
                var list = document.getElementById("list");
                var addButton = document.getElementById("addBtn");
                addButton.addEventListener("click", (event) => {
                    if (list.children.length > 20) {
                        alert("Dodano maksymalną liczbę produktów");
                        return;
                    }
                    var itemName = document.getElementById("record").innerHTML;


                    var newLi = document.createElement("li");
                    newLi.innerHTML = itemName;

                    var newSpan = document.createElement("span");
                    newSpan.innerHTML = "<button id=\"delete_product\" >X</button>";
                    newSpan.setAttribute("class", "my-button");

                    newSpan.addEventListener("click", function(event) {
                        this.parentElement.parentElement.removeChild(this.parentElement);
                    });
                    newLi.appendChild(newSpan);
                    list.appendChild(newLi);
                });
            </script>
        {% endblock %}
    </body>
</html>
