{% extends 'base.html.twig' %}

{% block body %}

    <div id="order">
        <div id="logo">
            <img src="img/logo.png">
        </div>
        <button id="addBtn" >Dodaj produkt</button></br>
        <form method="get" action="/zamowienie">
            <div id="order_list_div">
                <ol id="list">
                    <li id="record">
                        <select name="category">
                            <option>1</option>
                        </select>
                        <select name="product">
                            <option>1</option>
                        </select>
                        <input type="number" name="quantity" size="4">

                    </li>
                </ol>

            </div>
            <div id="order_options_div">
                Podaj adres e-mail <input type="email" size="15"></br>
                <input type="submit" value="Wyślij zamówienie">
            </div>
        </form>
    </div>
{% endblock %}